@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/_base.scss */
::selection {
  background: #cccccc;
  color: white;
  text-shadow: none;
}

/* line 11, ../sass/_base.scss */
::-moz-selection {
  background: #cccccc;
  color: white;
  text-shadow: none;
}

/* line 21, ../sass/_base.scss */
.span0 {
  width: 16px;
}

/* line 22, ../sass/_base.scss */
.span1 {
  width: 80px;
}

/* line 23, ../sass/_base.scss */
.span2 {
  width: 140px;
}

/* line 24, ../sass/_base.scss */
.span3 {
  width: 220px;
}

/* line 25, ../sass/_base.scss */
.span4 {
  width: 320px;
}

/* line 27, ../sass/_base.scss */
h1 {
  font-size: 48px;
}

/* line 28, ../sass/_base.scss */
h2 {
  font-size: 32px;
}

/* line 29, ../sass/_base.scss */
h3 {
  font-size: 24px;
}

/* line 30, ../sass/_base.scss */
h4 {
  font-size: 18px;
}

/* line 31, ../sass/_base.scss */
h5 {
  font-size: 16px;
}

/* line 33, ../sass/_base.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 39, ../sass/_base.scss */
div, li, a, input, textarea, button, select, option {
  font-size: 16px;
  color: #666;
  font-family: "Open Sans", Arial, sans-serif;
  letter-spacing: -1px;
}

/* line 57, ../sass/_base.scss */
.cleared {
  clear: both;
}

/* line 58, ../sass/_base.scss */
.inline {
  display: inline-block;
  /* deal with IE7 */
  *zoom: 1;
  *display: inline;
}

/* line 59, ../sass/_base.scss */
i {
  font-style: italic;
  color: #eae8e3;
}

/* line 60, ../sass/_base.scss */
b {
  font-weight: bold;
}

/* line 64, ../sass/_base.scss */
body {
  background: #eae8e3;
}

/* line 2, ../sass/_forms.scss */
form {
  margin: 10px 0 20px 0;
}

/* line 6, ../sass/_forms.scss */
hr {
  border: none;
  height: 1px;
  background: #eae8e3;
  width: 100%;
  margin: 10px 0 10px 0;
}

/* line 15, ../sass/_forms.scss */
.panel {
  background: white;
  border: 1px solid #b5b0a5;
  padding: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 0;
}

/* line 23, ../sass/_forms.scss */
.form-row {
  width: 100%;
  margin: 4px 0 4px 0;
  padding: 4px 0 4px 0;
  height: 30px;
}

/* line 31, ../sass/_forms.scss */
.form-row.center > *,
.form-centred > * {
  text-align: center;
}

/* line 36, ../sass/_forms.scss */
.form-row > select,
.form-row > input {
  display: inline-block;
  /* deal with IE7 */
  *zoom: 1;
  *display: inline;
}

/* line 41, ../sass/_forms.scss */
textarea, input {
  border: 1px solid #eae8e3;
  padding: 5px 4px 5px 4px;
}

/* line 47, ../sass/_forms.scss */
textarea:-moz-placeholder,
input:-moz-placeholder {
  color: #ccc;
}

/* line 52, ../sass/_forms.scss */
textarea {
  resize: none;
}

/* line 55, ../sass/_forms.scss */
textarea.span2, input.span2 {
  width: 130px;
}

/* line 56, ../sass/_forms.scss */
textarea.span3, input.span3 {
  width: 210px;
}

/* line 57, ../sass/_forms.scss */
textarea.span4, input.span4 {
  width: 310px;
}

/* line 60, ../sass/_forms.scss */
textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #b5b0a5;
}

/* line 65, ../sass/_forms.scss */
select {
  border: 1px solid #b5b0a5;
  padding: 5px 4px 5px 4px;
  height: 34px;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appeareance: none;
  background-image: url("/static/images/caret.png");
  background-repeat: no-repeat;
  background-position: 92%;
  padding-right: 4px;
}

/* line 83, ../sass/_forms.scss */
select:focus {
  outline: none;
}

/* line 85, ../sass/_forms.scss */
.btn {
  background: #b5b0a5;
  color: white;
  border: #a9a497;
  cursor: pointer;
  padding: 5px 6px 5px 6px;
  border: 1px solid #a7a194;
}

/* line 94, ../sass/_forms.scss */
.btn:hover {
  background: #a9a497;
  border: 1px solid #9e9789;
}

/* line 95, ../sass/_forms.scss */
.btn:active {
  background: #9e9789;
  border: 1px solid #958e7e;
}

/* alerts */
/* line 108, ../sass/_forms.scss */
.alert {
  color: white;
  padding: 10px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* line 116, ../sass/_forms.scss */
.alert.amber {
  background: #c29e46;
}

/* line 120, ../sass/_forms.scss */
.alert.green {
  background: #48e80e;
}

/* nav stuff */
/* line 71, ../sass/_base.scss */
.main-nav {
  width: 100%;
  background: white;
  top: 0px;
  text-align: center;
}

/* line 78, ../sass/_base.scss */
.main-nav > a.item {
  display: inline-block;
  /* deal with IE7 */
  *zoom: 1;
  *display: inline;
  text-decoration: none;
  padding: 14px 20px 14px 20px;
  margin: 0 10px 0 10px;
  font-size: 18px;
}

/* line 86, ../sass/_base.scss */
.main-nav > a.item:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.02);
}

/* line 91, ../sass/_base.scss */
.main-nav > .name {
  position: absolute;
  top: 15px;
  right: 22px;
  color: #eae8e3;
}

/* line 97, ../sass/_base.scss */
#center-column > .main-nav {
  background: #f9f9f7;
}

/* line 4, ../sass/main.scss */
.col-container {
  width: 100%;
  min-width: 1080px;
}

/* line 9, ../sass/main.scss */
.col-container > .col {
  width: 33.3%;
  float: left;
}

/* line 14, ../sass/main.scss */
.col-container > .col > .inner {
  padding: 10px;
}

/* line 18, ../sass/main.scss */
.col .section-space {
  height: 1px;
  margin: 30px 0 30px 0;
}

/* line 23, ../sass/main.scss */
.col .section h4 {
  text-align: center;
}

/* line 27, ../sass/main.scss */
.col .section h4 div {
  display: inline-block;
  /* deal with IE7 */
  *zoom: 1;
  *display: inline;
}

/* line 28, ../sass/main.scss */
.col .section h4 div > i {
  display: inline-block;
  /* deal with IE7 */
  *zoom: 1;
  *display: inline;
  color: #b5b0a5;
}

/* line 31, ../sass/main.scss */
#edit-ladder,
#save-edit-ladder {
  cursor: pointer;
}

/* line 34, ../sass/main.scss */
#edit-ladder:hover,
#save-edit-ladder:hover {
  text-decoration: underline;
}

/* line 36, ../sass/main.scss */
.col .section hr {
  background: #b5b0a5;
}

/* line 40, ../sass/main.scss */
.col .section hr.secondary {
  background: #ccc9c1;
}

/* line 42, ../sass/main.scss */
.col .section {
  text-align: center;
}

/* line 45, ../sass/main.scss */
.col .section input,
.col .section textarea {
  display: inline-block;
  /* deal with IE7 */
  *zoom: 1;
  *display: inline;
  border: 1px solid #b5b0a5;
  margin: 0px;
}

/* line 47, ../sass/main.scss */
.col .section input.score1 {
  border-right: none;
  margin-left: 2px;
}

/* line 49, ../sass/main.scss */
.col .section .btn.span4 {
  display: inline-block;
  /* deal with IE7 */
  *zoom: 1;
  *display: inline;
  margin: 0px;
}

/* challenges */
/* line 53, ../sass/main.scss */
.challenge-list {
  margin: 10px 0 10px 0;
}

/* line 57, ../sass/main.scss */
.challenge-list > .item {
  background: #f5f4f2;
  margin-bottom: 1px;
}

/* line 62, ../sass/main.scss */
.challenge-list > .item > .name {
  padding: 5px 0 5px 0;
  font-size: 16px;
}

/* line 69, ../sass/main.scss */
.challenge-list > .item > .comment,
.challenge-list > .item input,
.challenge-list > .item button {
  font-size: 14px;
  padding: 4px;
}

/* line 74, ../sass/main.scss */
.challenge-list > .item > .name > i {
  color: #b5b0a5;
}

/* line 76, ../sass/main.scss */
.challenge-list > .item .spacer {
  width: 100%;
  height: 10px;
}

/* ladder itself */
/* line 82, ../sass/main.scss */
.ladder > .rung {
  position: relative;
  width: 100%;
  background: white;
  margin-bottom: 1px;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 150ms;
  -moz-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  transition-duration: 150ms;
}

/* line 92, ../sass/main.scss */
.ladder > .rung.flash-new {
  background: #48e80e;
}

/* line 96, ../sass/main.scss */
.ladder > .rung > .filler {
  height: 14px;
  width: 1px;
}

/* line 102, ../sass/main.scss */
.ladder > .rung > * {
  padding: 10px 10px 10px 10px;
  display: inline-block;
  /* deal with IE7 */
  *zoom: 1;
  *display: inline;
}

/* line 107, ../sass/main.scss */
.ladder > .rung > .name {
  position: absolute;
  left: 30px;
  right: 30px;
  text-align: center;
  text-decoration: none;
}

/* line 114, ../sass/main.scss */
.ladder > .rung > .name:hover {
  text-decoration: underline;
}

/* line 118, ../sass/main.scss */
.ladder > .rung > .position {
  float: left;
  color: #b5b0a5;
}

/* line 123, ../sass/main.scss */
.ladder > .rung > .count {
  position: absolute;
  border-left: 1px solid #eae8e3;
  padding: 6px 10px 14px 10px;
  color: #b5b0a5;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

/* line 133, ../sass/main.scss */
.ladder > .rung > .count > .count-text {
  position: absolute;
  font-size: 9px;
  bottom: 4px;
  color: #b5b0a5;
  width: 100%;
  text-align: center;
  right: 0px;
}

/* matches + comments area */
/* line 145, ../sass/main.scss */
#make-comment-form {
  margin-bottom: 6px;
}

/* line 149, ../sass/main.scss */
#show-comments-label > input {
  margin: 10px 0 10px 0;
}

/* line 157, ../sass/main.scss */
.matches-comments-area > .item {
  width: 100%;
  background: #f5f4f2;
  margin-bottom: 1px;
  position: relative;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 150ms;
  -moz-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  transition-duration: 150ms;
}

/* line 167, ../sass/main.scss */
.matches-comments-area > .item.flash-new {
  background: #48e80e;
}

/* match */
/* line 3, ../sass/_match-format.scss */
.item.match > .top {
  width: 100%;
}

/* line 8, ../sass/_match-format.scss */
.item.match > .top > .player1,
.item.match > .top > .player2 {
  display: inline-block;
  /* deal with IE7 */
  *zoom: 1;
  *display: inline;
  margin: 8px 5px 2px 5px;
}

/* line 13, ../sass/_match-format.scss */
.item.match > .top > i {
  color: #b5b0a5;
}

/* line 26, ../sass/_match-format.scss */
.item.match > .top > .date {
  font-size: 11px;
  color: #b5b0a5;
  margin: 2px 0 2px 0;
}

/* line 30, ../sass/_match-format.scss */
.item.match > .bottom {
  width: 100%;
}

/* line 35, ../sass/_match-format.scss */
.item.match > .bottom > .game {
  display: inline-block;
  /* deal with IE7 */
  *zoom: 1;
  *display: inline;
  margin: 3px 2px 4px 2px;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #d5d2cc;
}

/* line 43, ../sass/_match-format.scss */
.item.match > .bottom > .game > .score {
  display: inline-block;
  /* deal with IE7 */
  *zoom: 1;
  *display: inline;
  padding: 4px;
  font-size: 12px;
  color: white;
}

/* line 50, ../sass/_match-format.scss */
.item.match > .bottom > .game > .score.winner {
  background: #b5b0a5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* comment */
/* line 178, ../sass/main.scss */
.matches-comments-area > .item.comment {
  text-align: left;
}

/* line 182, ../sass/main.scss */
.matches-comments-area > .item.comment > * {
  padding: 3px 6px 6px 6px;
}

/* line 186, ../sass/main.scss */
.matches-comments-area > .item.comment > .date {
  font-size: 11px;
  color: #b5b0a5;
  margin: 2px 0 2px 0;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 6px;
}

/* line 194, ../sass/main.scss */
.matches-comments-area > .item.comment > .sender-name {
  font-weight: bold;
  font-size: 12px;
  padding-top: 6px;
}

/* line 200, ../sass/main.scss */
.matches-comments-area > .item.comment > .text {
  font-size: 14px;
}
