
@mixin compat-grad($bottom, $top) {
    background: mix($top, $bottom); /* Old browsers */
    background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $top 0%,$bottom 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, $top 0%,$bottom 100%); /* IE10+ */
    filter: #{"progid:DXImageTransform.Microsoft.gradient( startColorstr='"}$top#{"', endColorstr='"}$bottom#{"',GradientType=0 )"}; /* IE6-9 */
    background: linear-gradient(top, $top 0%,$bottom 100%); /* W3C */
}

@mixin inline {
    display: inline-block;
    /* deal with IE7 */
    *zoom: 1;
    *display: inline;
}

@mixin center-rel { margin-left: auto; margin-right: auto; }

@mixin center-abs($w, $offset: 0) {
    position: absolute;

    width: $w + px;
    left: 50%;
    margin-left: -($w / 2) + $offset + px;
}

@mixin center-abs-top($h, $offset: 0) {
    height: $h + px;
    top: 50%;
    margin-top: -($h / 2) + $offset + px;
}

@mixin unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin selectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

@mixin grab {
    cursor: move;
    cursor:hand;
    cursor:grab;
    cursor:-moz-grab;
    cursor:-webkit-grab;
}

@mixin grabbing {
    cursor:grabbing;
    cursor:-moz-grabbing;
    cursor:-webkit-grabbing;
}

@mixin close-icon {
    width: 14px;
    height: 14px;
    cursor: pointer;
    background: transparent url('/static/images/resources-1.png') -733px -82px;
}

@mixin connect-line {
    position: absolute;

    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    transform-origin: 0 50%;
    
    height: 0px;    
}