<!doctype html>	
<html>
<head>

  <!--[if IE 7 ]>    <html class= "ie7"> <![endif]-->
  <!--[if IE 8 ]>    <html class= "ie8"> <![endif]-->
  <!--[if IE 9 ]>    <html class= "ie9"> <![endif]-->

  <title>{% block title %}squash ladder{% end %}</title>

<!--  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>-->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  {% block stylesheets %}{% end %}  
  {% block javascripts %}{% end %}

</head>

<body>

  {% block pre %}
  {% end %}

  {% block main %}
  {% end %}

</body>
</html>
